*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    background-color: blue;
    height: 90px;
}

.sidebar{
    background-color: red;
    width: 100px;
    height: 100px;
}