* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
.main {
  margin-top: 200px;
  /* margin-bottom: -100px; to fix footer at foot */
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: 200px;
  padding:0 100px 100px 100px;
}

.main div {
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}


.main div:hover{
margin:-2px -2px -2px -2px;
}

/* to fix footer at foot*/
.main::after {
  content: "";
  display: block;
  height: 100px;
}

.footer {
  /* margin-top: 100px; */
  background-color: black;
  height: 100px;
  color: white;
}

.header {
  background-color: white;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 10px 0px 10px 0px;
}

h1 {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 80px;
 filter: drop-shadow( 0px 2px 5px rgba(0, 0, 0, 0.3));
}

.sidebar {
  background-color: red;
  width: 100px;
  height: 100vh;
}
